.heading {
  font-size: $font-size-large;
  text-align: left;
  font-weight: 700;
}

.col-wrapper {
  display: flex;
  flex-direction: column;
}

.heavy {
  font-weight: $font-weight-heavy;
}

.medium {
  font-weight: $font-weight-medium;
}

.bold {
  font-weight: $font-weight-bold;
}

ul {
  text-align: left;
  padding: 0 24px;
}

li {
  padding: 2px 0;
}

.highlighted {
  background-color: $blushed-brick;
  padding: 0 2px;
  color: white;
}

.colored {
  color: $punch-red;
}

.gray {
  color: $grey;
}

.italic {
  font-style: italic;
}

.sub-note {
  padding: 0 2px;
}

.clickable-icon {
  cursor: pointer;

  transition: color 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
