.heading {
  font-size: $font-size-large;
  text-align: left;
  font-weight: 700;
  font-family: $fjalla-one;
}

.col-wrapper {
  display: flex;
  flex-direction: column;
}

.heavy {
  font-weight: $font-weight-heavy;
}

.medium {
  font-weight: $font-weight-medium;
}

.bold {
  font-weight: $font-weight-bold;
}

ul {
  text-align: left;
  padding: 0 24px;
}

li {
  padding: 2px 0;
}

.highlighted {
  background-color: rgba($blushed-brick, 0.9);
  padding: 0 1px;
  color: white;
}

.colored {
  color: $punch-red;
}

.gray {
  color: $grey;
}

.italic {
  font-style: italic;
}

.sub-note {
  padding: 0 2px;
}

.clickable-icon {
  cursor: pointer;

  transition: color 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page-heading {
  width: 100%;
  background-color: $frosted-blue;
  padding: 5px 0;
  border-radius: $border-radius-xs;

  .page-heading-text {
    color: $cerulean;
    letter-spacing: 5%;
  }
}

.subheading {
  width: 100%;
  padding: 5px 0;
  border-radius: $border-radius-small;

  .subheading-title-text {
    color: $cerulean;
    font-family: $fjalla-one;
    font-size: $font-size-medium;
    letter-spacing: 5%;
  }
}
