.header-container {
  display: flex;
  flex-direction: row;

  align-items: center;

  gap: 16px;
  padding: calc($top-nav-height + 24px) 16px 16px 16px;

  #header-wrapper {
    gap: 1px;

    .sub-heading-item {
      display: flex;
    }
  }

  .profile-icon {
    height: 7em;
    width: 7em;
    border-radius: $border-radius-default;
  }
}
