.header-container {
  display: flex;
  flex-direction: row;

  align-items: center;

  gap: 16px;
  padding: 16px;

  #header-wrapper {
    gap: 1px;

    .sub-heading-item {
      display: flex;
    }
  }

  .profile-icon {
    height: 7em;
    width: 7em;
    border-radius: $border-radius-default;
  }
}

.navigation-container {
  display: flex;
  flex-direction: row;
  gap: 24px;

  width: 100%;

  align-items: center;
  justify-content: center;

  font-size: $font-size-medium;

  padding-bottom: 36px;

  .navigation-item {
    cursor: pointer;

    &:active {
      transition: all 0.1s ease-in-out;
    }
  }
}
