.header-container {
  display: flex;
  flex-direction: row;

  align-items: center;

  gap: 16px;
  margin: calc($top-nav-height + 5px) 0 16px;
  padding: 7px;

  border: 1px solid $punch-red;
  border-radius: $border-radius-xs;

  #header-wrapper {
    gap: 1px;

    .sub-heading-item {
      display: flex;
      align-items: center;
      gap: 5px;

      .header-info-icon {
        color: $cerulean;
        font-size: $font-size-small;
      }
    }
  }

  .profile-icon {
    height: 7em;
    width: 7em;
    border-radius: $border-radius-xs;
  }
}

#heading-text {
  color: $punch-red;
}
