.top-navigation-container {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  height: $top-nav-height;

  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.5);
  clip-path: 0 0 0 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 1;

  background-color: rgba($white-smoke, 1);

  .top-nav-heading {
    font-size: $font-size-medium;
  }

  .hamburger-menu-container {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 0 16px;

    cursor: pointer;
  }

  .socials-container {
    display: flex;
    align-items: center;
    padding: 0 16px;
  }
}

.top-navigation-expanded-container {
  position: fixed;
  top: $top-nav-height;
  left: 0;
  z-index: 1;
  height: 100vh;
  width: 40%;

  background-color: rgba($white-smoke, 1);

  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  clip-path: inset(0 -10px 0 0);

  animation: fadeIn 0.2s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .navigation-item {
    position: relative;
    padding: 18px 16px;
    text-align: left;

    display: flex;
    align-items: center;
    gap: 15px;

    cursor: pointer;

    transition:
      color 0.2s ease-in-out,
      border-left 0.2s ease-in-out;

    border-left: 2px solid transparent;

    &:hover {
      color: $cerulean;
      background-color: rgba($cerulean, 0.1);
      border-left: 2px solid $oxford-navy;
    }

    &:active {
      color: $oxford-navy;
      border-left: 2px solid $oxford-navy;
    }
  }

  .selected {
    color: $punch-red;
    border-left: 2px solid $punch-red;
    background-color: rgba($blushed-brick, 0.1);

    &:hover {
      color: $cerulean;

      &::after {
        background-color: $cerulean;
      }
    }
  }
}

.top-navigation-backdrop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  touch-action: none;

  background-color: rgba(0, 0, 0, 0.3);
}
