$punch-red: #e63946ff;
$honeydew: #f1faeeff;
$frosted-blue: #a8dadcff;
$cerulean: #457b9dff;
$oxford-navy: #1d3557ff;

$hunter-green: #386641ff;
$sage-green: #6a994eff;
$yellow-green: #a7c957ff;
$vanilla-cream: #f2e8cfff;
$blushed-brick: #bc4749ff;

$almond-silk: #c1aba6ff;
$mauve-shadow: #533b4dff;
$hot-pink-web: #f564a9ff;
$pink-mist: #faa4bdff;
$champagne-mist: #fae3c6ff;

$charcoal: #595959ff;
$grey: #7f7f7fff;
$silver: #a5a5a5ff;
$silver-2: #ccccccff;
$white-smoke: #f2f2f2ff;

$border-radius-default: 12px;

$font-size-small: 0.875em;
$font-size-default: 1em;
$font-size-medium: 1.25em;
$font-size-large: 1.5em;
