@import "./styles/variables.scss";
@import "./styles/common.scss";
@import "./styles/header.scss";
@import "./styles/top_navigation.scss";

:root {
  font-size: $font-size-small;
  font-family: "Nunito Sans";

  margin: 0 auto;

  -webkit-tap-highlight-color: transparent; /* Chrome, Safari, Opera */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
